USE [master]
GO
/****** Object:  Database [CnxDevSoftware]    Script Date: 12/16/2023 10:15:05 AM ******/
CREATE DATABASE [CnxDevSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CnxDevSoftware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PACKAGE\MSSQL\DATA\CnxDevSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CnxDevSoftware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PACKAGE\MSSQL\DATA\CnxDevSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CnxDevSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CnxDevSoftware]
GO
/****** Object:  Table [dbo].[AccessToken]    Script Date: 12/16/2023 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[access_token] [nvarchar](max) NULL,
	[token_type] [nvarchar](100) NULL,
	[expires_in] [int] NULL,
	[last_update] [datetime] NULL,
 CONSTRAINT [PK_AccessToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMaster]    Script Date: 12/16/2023 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster](
	[ItemCode] [nchar](50) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[ItemPrice] [float] NOT NULL,
	[ItemDescription] [nvarchar](max) NULL,
	[ItemImage] [image] NULL,
 CONSTRAINT [PK_ItemMaster] PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessToken] ON 

INSERT [dbo].[AccessToken] ([Id], [access_token], [token_type], [expires_in], [last_update]) VALUES (1, N'BQCpS3HYMCQkTLsVrugKL6-A7QjwqHm5snk05U-RyoQ5lv3t8IPm4uViOljVwQ9ifUNq_S8JcOqAy31m6tDMb6ySV110jmjBpjLI8nhfBfvWL5Agl3A', N'Bearer', 3600, CAST(N'2023-12-15T19:15:15.073' AS DateTime))
INSERT [dbo].[AccessToken] ([Id], [access_token], [token_type], [expires_in], [last_update]) VALUES (2, N'BQAJG3yGA-wujPsHDT-Ma07zqv3MzFJY28zx743nNR9DEaWkPgq7JbEDpJfiK5lCZTfZJ9hZ6K-OgU69bIoRd4VIE_78gdK2SDJRgf3taUKPS1mqyHI', N'Bearer', 3600, CAST(N'2023-12-16T10:10:14.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccessToken] OFF
GO
USE [master]
GO
